
.App {
  text-align: center;
}
/*.block{
  background-image: url("fqQqkEh.jpg");
  display: inline-block;
  border: 2px solid rgb(0, 0, 0);
  margin: 10px 10px;
  overflow: hidden;
  height: 450px;
  width: 750px;
}*/
body {
 background-image: url("crop.jpg");
}
/* 
  -webkit-animation: color-change-2x 80s linear infinite alternate both;
  animation: color-change-2x 80s linear infinite alternate both;} 
  @-webkit-keyframes color-change-2x {
    0% {
      background-image: url("crop.jpg");
    }
   100% {
      background-image: url("crop.jpg");
    }
  }
  @keyframes color-change-2x {
    0% {
      background-image: url("crop.jpg");
    }
   100% {
      background-image: url("crop.jpg");
    }
  } */
  .navbar navbar-expand-lg navbar-dark bg-dark{
opacity:.4;


  }

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
